@{
    ViewBag.Title = "场馆系统";
    ViewBag.SubTitle = "城市管理";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")

<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">添加城市</h3>
            </div>
            <form id="cityfrom" class="form-horizontal" >
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">城市名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="CityName" name="CityName" placeholder="城市名称">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">取消</button>
                    <button type="button" class="btn btn-info pull-right" onclick="return create();">添加</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">城市列表</h3>
            </div>
            <div class="box-body" id="demo">
                <table id="example" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>所属城市</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>所属城市</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
    @Scripts.Render("~/Scripts/SysManage/City")
    @Scripts.Render("~/Scripts/SysManage/jquery.serializejson.min")

}
